
ion-content{
  .row-card{
    background: url("../../assets/images/home.jpg") no-repeat ; background-size: cover ; height: 100%;
    .timedate{
      ion-datetime{
        background: transparent;
      }
      .w-100{
        width: 100%;
    }
     }
  }
  
  
  }
  