
ion-content{
  background: url("../../assets/images/home.jpg") repeat ; background-size: cover;
  height: 100%;
  .row-card{
    background: url("../../assets/images/home.jpg") repeat ; background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .timedate{
      h3{
        font-size: 14px;
        text-transform: capitalize;
        margin-left: 20px;
      }
      ion-datetime{
        background: transparent;
      }
      .w-100{
        width: 100%;
        --border-radius: 0 !important;
    }
    
      ion-label{
        font-size: 12px;
      }
     }
     ion-datetime{
       font-size: 12px;
       ion-label{
        font-size: 12px;
       }
     }
  }
  
  
  }
.box-time{
  display: flex;
  justify-content: center;
  align-items: center;
  .time-schedule{
    border: solid 1px #b9b2b2;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    ion-list{
      ion-item{
        width: 45%;
        float: left;
        font-size: 12px;
        radio-icon {
          display: flex;
          align-items: center;
          justify-content: center;
           width: 15px !important;
          height: 15px !important;
          margin-right: 5px;
        }
       
      }
    }
  }
}

.w-100{
   width: 100%;
   --border-radius: 0 !important;
}

ion-label{
  font-size: 12px;
}

h6{
  font-size: 11px;
  margin-left: 20px;
}

ion-radio{
  margin: 0 10px 0 0;
}


.time-part{
  h4{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 20px 0 20px;
  }
}
