<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="/checkout" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Select Your date and Time</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="row-card" >
    <ion-col size="12">
      <div class="timedate">
        <ion-datetime presentation="time-date" 
        [(ngModel)]="myDate"  id="trigger-button">
      </ion-datetime>
      <ion-button routerLink="/payment"  class="w-100" type="submit" >Next</ion-button>
      </div>
    </ion-col>
</ion-row>
</ion-content>

<ion-modal trigger="trigger-button" >
  <ng-template>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Select Time </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="modalCtrl.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Select Time</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>10.00</ion-label>
            <ion-radio slot="start" name="time"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>12.00</ion-label>
            <ion-radio slot="start"  name="time"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>9.00</ion-label>
            <ion-radio slot="start"  name="time"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>