<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="/catagory" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="title">Login</ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="bg">
        <div class="logo">
            <img src="assets/images/logo.png" alt="image">
        </div>

        <div class="box">
            <h2>Login</h2>
            <p>Enter your login detail to access your account</p>
            <form #loginFrom="ngForm" (ngSubmit)="submit(loginFrom.value)" novalidate>
                <ion-item>
                    <ion-input type="text" placeholder="User Name" name="mobile" [ngModel]="mobile"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" type="password" placeholder="Password" name="password" [ngModel]="password"></ion-input>
                </ion-item>
                <ion-button style="--background:#0f2f67" class="w-100" type="submit">Log In</ion-button>
            </form>
            <p class="ion-text-center reg" routerLink="/register"> Don't have an account ?Sign Up</p>
        </div>

    </div>
</ion-content>