<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="/catagory" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Login</ion-title>

  </ion-toolbar>
</ion-header> 


<ion-content>
  <div class="bg">
    <div class="logo">
      <img src="assets/images/logo.png">
    </div>

    <div class="box">
      <h2>Login</h2>
      <p>Enter your login detail to access your account</p>
      <form [formGroup]="loginForm" (ngSubmit)="submit()"  novalidate>
        <ion-item >
          <ion-input formControlName="name" autocapitalize="true" input="text" placeholder="User Name"></ion-input>
        </ion-item>
        <ion-item >
          <ion-input formControlName="password" type="password" input="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button    class="w-100" type="submit" >Login In</ion-button>
      </form>
      <p class="ion-text-center" routerLink="/register"> Don't have an account ? Sign Up</p>
    </div>

  </div>
</ion-content>
