



 
      <ion-content>
          <div class="bg">
              <div class="box">
                  <div class="divClose">
                      <h2>Details</h2>
                  </div>
                  <div class="drlist">
                      <ion-list>
                          <ion-item class="ion-no-padding" lines="full">
                              <ion-thumbnail slot="start">
                                  <img src="assets/images/pic5.jpg" alt="service image">
                              </ion-thumbnail>
                              <ion-chip>
                                  <h3>productName</h3>
                                  <h6>Product No:<span>9u900099009</span></h6>
                              </ion-chip>
                          </ion-item>
                          <div class="amount">
                              <div class="last-bax">
                                  <div class="subtotal">
                                      <h6>Subtotal</h6>
                                      <span class="price">₹ 867</span>
                                  </div>
                                  <div class="subtotal tax">
                                      <h6>Tax</h6>
                                      <span class="price">₹ 18</span>
                                  </div>
                                  <div class="subtotal  amounttotal">
                                      <h6>Total amount</h6>
                                      <span class="price">₹ 1200</span>
                                  </div>
                              </div>
                          </div>
                      </ion-list>
                  </div>
              </div>
          </div>
      </ion-content>

