<ion-app>
  <!-- <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      menu stuff
    </ion-content>
  </ion-menu> -->
  <!-- <ion-router-outlet id="content1" main></ion-router-outlet> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="catagory">
        <ion-icon name="car"></ion-icon>
        <ion-label>Our Catagories</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="login" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> 

</ion-app>






