<ion-content>
    <ion-card class="part">
        <div class="slider-box">
            <div *ngFor="let item of  slider">
                <div class="look-box">
                    <div class="pic">
                        <img src="{{item.image}}" alt="bookingImage">
                    </div>
                    <div>
                        <h2>{{item.title}}</h2>
                    </div>
                    <div class="done">
                        <p>Booking Placed successfully</p>
                    </div>
                    <div class="code">
                        <h6>Booking Code: <span>{{bookingNo}}</span></h6>
                    </div>
                    <a routerLink="/home" class="next">Go to home</a>
                </div>
            </div>
        </div>
    </ion-card>
</ion-content>