<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="title">Payment</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="drlist bg">
        <ion-list>
            <ion-item>
                <h3>Shoping List</h3>
            </ion-item>
            <ion-item lines="full">
                <ion-thumbnail slot="start">
                    <img src="{{service_image_url}}" alt="serviceImage" routerLink="/service-details/{{serviceId}}">
                </ion-thumbnail>
                <ion-chip>
                    <h2>{{name}} <span>₹{{price}}</span></h2>
                    <p>{{description}}</p>
                </ion-chip>
            </ion-item>

            <div class="amount">
                <div class="last-bax">
                    <div class="subtotal">
                        <h6>Subtotal</h6>
                        <span class="price">₹ {{subTotal}}</span>
                    </div>
                    <div class="subtotal tax">
                        <h6>Tax</h6>
                        <span class="price">₹ {{tax}}</span>
                    </div>
                    <div class="subtotal  amounttotal">
                        <h6>Total amount</h6>
                        <span class="price">₹ {{total_amount}}</span>
                    </div>

                    <ion-button   id="trigger-button"  class="next">Checkout</ion-button>
                </div>

            </div>

            <div class="payment">
                <ul>
                    <li>
                        <label class="radio-img">
          <input type="radio" name="payment" value="" />
          <div class="image" style="background-image: url(../../assets/images/money.png)"></div>
          <span>COD</span>
        </label>
                    </li>
<!-- 
                    <li>
                        <label class="radio-img">
          <input type="radio" name="payment" value="" />
          <div class="image" style="background-image: url(../../assets/images/upi.svg)"></div>
          <span>UPI</span>
        </label>
                    </li> -->
                    <!-- <li>
                        <label class="radio-img">
          <input type="radio" name="payment" value="" />
          <div class="image" style="background-image: url(../../assets/images/paytm.svg)"></div>
          <span>Paytm</span>
        </label>
                    </li> -->
                </ul>
            </div>
        </ion-list>
        <ion-button routerLink="/thankyou" class="w-100" type="submit">Payment Now</ion-button>
    </div>


</ion-content>

<!-- Use a trigger -->
<ion-modal trigger="trigger-button">
  <ng-template>
    <ion-content>
        <ion-row>
            <ion-col size="12">
                <div class="bg">
                    <div class="box">
                        <h2>Enter your address details</h2>
                        <!-- (ngSubmit)="checkout(shippingForm.value)" -->
                        <form #shippingForm="ngForm">
                            <ion-item>
                                <ion-input placeholder="First Name" type="text" name="first_name" [ngModel]="first_name"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="Last Name" name="last_name" [ngModel]="last_name"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="Email" name="email" [ngModel]="email"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="House no" name="house_no" [ngModel]="house_no"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="City" name="city" [ngModel]="city"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="State" name="state" [ngModel]="state"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="Pin code" name="pin" [ngModel]="pin"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="Phone" name="phone" [ngModel]="phone"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-textarea placeholder="Address" name="address" [ngModel]="address"></ion-textarea>
                            </ion-item>
            
                          
                            <ion-button  (click)="close()" class="w-100" type="submit">Submit</ion-button>
                           
                        </form>
                        <!-- <ion-button routerLink="/calender"  class="w-100" type="submit" >Order Now</ion-button> -->
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>




