

 ion-content{
   .part{
    background: #f2f2f2;  margin: 0 0 0 0; border-radius: 0; box-shadow: none;
    .look-box{
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      .pic{
        img{
          width: 250px;
        }
      }
      div{ margin-top: 20px;
        h2{ margin: 0 0 4px;  font-size: 17px;  font-weight: 600;  color: #212121;}
      }
     }
   }
   
 }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  