<!-- <ion-header no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="bg">
        <div class="profile-info-top">
            <div class="profile-div">
                <img [src]="userImage" alt="userImage">
            </div>
            <h2 class="ion-text-center user-name">{{name}}</h2>
            <p class="ion-text-center ion-no-margin user-email">{{email}}</p>
        </div>
        <div class="drlist">
            <ion-list *ngFor="let item of orderDetails" (click)="singleorderDetails()">
                <ion-item class="ion-no-padding" lines="full">
                    <ion-thumbnail slot="start">
                        <img src="{{item.service_image}}" alt="service image">
                    </ion-thumbnail>
                    <ion-chip>
                        <h3>{{item.service_name}}</h3>
                        <h6>Product: <span>{{item.uniqueId}}</span></h6>
                    </ion-chip>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>


