<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="/login" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="title">Register</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg">
        <div class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>

        <div class="box">
            <h2>Register</h2>
            <p>Enter your detail </p>
            <form #registrationFrom="ngForm" (ngSubmit)="submit(registrationFrom.value)" novalidate>
                <ion-item>
                    <ion-input type="text" placeholder="First Name" name="first_name" [ngModel]="first_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" placeholder="Last Name" name="last_name" [ngModel]="last_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" placeholder="email" name="email" [ngModel]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" placeholder="phone" name="mobile" [ngModel]="mobile"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Password" name="password" [ngModel]="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Confirm Password" name="confirm_password" [ngModel]="confirm_password"></ion-input>
                </ion-item>
                <ion-button style="--background:#50c8ff" class="w-100" type="submit">Sign up</ion-button>
            </form>
            <p class="ion-text-center" routerLink="/login"> Do you have already resigtered ? please go to Login</p>
        </div>

    </div>
</ion-content>